menu "Audio HAL"

choice AUDIO_BOARD
    prompt "Audio board"
    default AUDIO_BOARD_CUSTOM
    help
        Select an audio board to use with the ESP-ADF

config AUDIO_BOARD_CUSTOM
    bool "Custom audio board"

endchoice

endmenu
