menu "Audio HAL"

choice AUDIO_BOARD
    prompt "Audio board"
    default AUDIO_BOARD_CUSTOM
    help
        Select an audio board to use with the ESP-ADF

config AUDIO_BOARD_CUSTOM
    bool "Custom audio board"

endchoice

choice CUSTOM_BOARD_VERSION
    prompt "Custom board version"
    default CUSTOM_BOARD_V1_0
    depends on AUDIO_BOARD_CUSTOM
    help
        Select your custom board revision

config CUSTOM_BOARD_V1_0
    bool "My Board v1.0"
    help
        Initial board revision with ESP32-WROVER-E-N8R8,
        ES8388 codec, BD37033 audio processor, and dual ADS1115.

endchoice

endmenu
